/* Body zerado */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  align-items: righ;
}

/* Seção do autor ocupa largura total */
.autor-section {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  
}

/* Título e nota */
.autor-section h2 {
  margin-top: 0;
  font-size: 1.4rem;
  color: #002244;
}

.nota {
  font-size: 0.8rem;
  color: #555;
  margin-bottom: 10px;
}

/* Galeria em grid flexível */
.galeria-thumbs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  justify-content: start; /* agora alinha à esquerda */
  gap: 1rem 1rem;   
  overflow-y: auto; /* desativa rolagem vertical */
  max-height: 33vh;
}

/* Thumb dos vídeos */
.video-thumb {
  position:relative;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
  max-width: 200px;
  min-width: 150px;
  margin: 0; /* remove o centramento */
  width: 100%;
}
.video-thumb:hover {
  transform: scale(1.03);
}

.video-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .galeria-thumbs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    overflow-x: unset;
  }

  .video-thumb {
    width: 100%;
  }
}


/* Botão de play centralizado */
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  font-size: 2rem;
  padding: 10px 16px;
  border-radius: 50%;
  pointer-events: none;
}

