* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout Global */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f9fbff
  color: #222;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Conteúdo principal */
main {
  flex: 1;
}

/* Navegação */
.menu {
  background: linear-gradient(to right, #004080, #0074D9);
  padding: 20px 0;
   overflow-x: hidden;
}

.menu-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0 10px;
  margin: 0;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.menu-links li {
  flex: 1 1 90px;
  min-width: 70px;
  max-width: 25vw;
  text-align: center;
}

.menu-links li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  text-decoration: none;
  font-weight: 500;
  font-size: clamp(0.75rem, 2vw, 0.95rem);
  color: white;
  padding: 10px;
}

.menu-links li a i {
  font-size: clamp(1rem, 5vw, 1.5rem);
  margin-bottom: 6px;
  color: white;
}

.menu-links li a span {
  color: white;
}

.menu-links li a.ativo {
  border-bottom: 4px solid #05dbeb;
  padding-bottom: 6px;
}

/* Media Queries */
@media screen and (max-width: 320px) {
  .menu-links {
    gap: 20px;
    padding: 0 8px;
  }

  .menu-links li {
    max-width: 45vw;
    flex: 1 1 auto;
  }

  .menu-links li a {
    font-size: 0.7rem;
    padding: 6px;
  }

  .menu-links li a i {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .menu-links {
    gap: 10px;
  }

  .menu-links li a {
    font-size: 10px;
    padding: 6px;
  }

  .menu-links li a i {
    font-size: 15px;
    margin-bottom: 4px;
  }
}

/* Rodapé */
footer {
  font-size: 0.7rem;
  background: linear-gradient(to right, #004080, #0074D9);
  color: white;
  text-align: center;
  padding: 20px 10px 10px 10px;
  border-top: 2px solid #ccc;
  
}

footer a {
  display: inline-block;
  padding: 5px 24px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: bold;
  border: 2px solid #05dbeb;
  border-radius: 25px;
  transition: all 0.3s ease;
  background: linear-gradient(to right, #004080, #0074D9);
}

@keyframes pulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.05); }
  100% { transform: scale(1); }
}

/*Termos*/
.lerTermoUso {
  color: #cc0000;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.lerTermoUso:hover,
.lerTermoUso:focus {
  color: #990000;
  outline: none;
}

footer a {
  animation: pulse 1.5s ease-in-out infinite;
}


footer a:hover {
  animation: pulse 0.4s ease-in-out;
}